<%- include("header") %>
    <div>
        <div class="col-1">
            <img src="images/5127314.jpg">
        </div>
        <div class="col-2">
            <h2>Krish Parekh</h2>
            <p>kpparekh81602@gmail.com</p>
            
            <a href="https://github.com/krish3957" style="text-decoration: none;"><i class="fa-brands fa-2xl fa-github"></i></a>
        </div>
    </div>
    <%- include("footer") %>